<ul class="list-unstyled story_list list-group container-fluid">
	<li class="default-item">Loading...</li>
</ul>
{{#unless selecting}}<div class="container-fluid" id="new_story_button">+ NEW STORY</div>{{/unless}}
<div class="modal-bottom">
	<button class="action-button pull-right modal-main-action-button" data-dismiss="modal" id="close_archives">CLOSE</button>
</div>
